package template

templ ErrorToast(errorMessage string) {
	<div class="notification " id="errorToast">
		<button class="delete" onclick="hideErrorToast()"></button>
		{ errorMessage }
	</div>
	<script>
  function hideErrorToast() {
    document.getElementById("errorToast").remove()
  }
</script>
}
